//centering clock more evenly because of small margin on the imported component
.react-clock {
  margin-left: -15px;
}

//Overriding all of the colors in the node modules folder
.react-clock .react-clock__face {
  border: 1px solid rgb(233, 233, 233);
}

.react-clock .react-clock__hand__body {
  background-color: rgb(255, 255, 255);
}

.react-clock .react-clock__mark__body {
  background-color: rgb(255, 255, 255);
}

.react-clock .react-clock__second-hand__body {
  background-color: rgb(255, 0, 0);
}
