.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 6rem auto;
  width: 90%;
  max-width: 60rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

