.cityDetails {
  color: white;
}

.backToList {
  width: 90px;
  background-color: rgba(85, 84, 84, 0.39);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.backToList:hover {
 background-color: rgba(73, 73, 73, 0.671);
}

.row {
  padding: 20px;
}

.timeZone {
  background-color: rgba(85, 84, 84, 0.39);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.timeZoneText {
  display: flex;
  justify-content: space-evenly;
}

.flagImage {
  width: 25px;
  margin: 15px;
  margin-left: 0;
}

.cityName {
  text-transform: uppercase;
}

.analogClock {
  background-color: rgba(0, 0, 0, 0.384);
  padding: 10px;
  margin-right: 5px;
  border-radius: 20px;
}

.digitalClock {
  padding-top: 20px;
}
