/* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder {
  color: white;
}

/* Mozilla Firefox 4 to 18 */
.form-control:-moz-placeholder {
  color: white;
}

/* Mozilla Firefox 19+ */
.form-control::-moz-placeholder {
  color: white;
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder {
  color: white;
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder {
  color: white;
}
