@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./load-and-modified.scss";

//style for body
@import "./body-styling.scss";

//style for Card (main container with the content)
@import "./card-styling.scss";

//style for header
@import "./header-styling.scss";

//style for the homePage
@import "./home-page.scss";

//style for the analog clock
@import "./analog-clock.scss";

//style for footer
@import "./Footer.module.scss";

//style for spinner
@import "./Spinner.scss";

@import "./my-time.scss";
