@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cardCities {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 6rem auto;
  width: 90%;
  max-width: 60rem;
}

.citiesCard {
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 0;
}

.row {
  color: white;
}

.city {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cityName {
  text-transform: uppercase;
  cursor: pointer;
}

.cityName:hover {
  color: rgb(179, 179, 179);
}

.flagImage {
  width: 25px;
  margin: 15px;
  margin-top: 0;
}

.container {
  color: rgba(0, 0, 0, 0);
}