@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 15rem auto;
  width: 90%;
  max-width: 60rem;
}

.citiesCard {
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(243, 45, 243, 0.274);
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.row {
  padding: 10px;
  color: white;
}

.city {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cityName {
  text-transform: uppercase;
  cursor: pointer;
}

.flagImage {
  width: 25px;
  margin: 15px;
  margin-top: 0;
}
