@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 10rem auto;
  width: 90%;
  max-width: 60rem;
}

.citiesCard {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.cardBody {
  padding-top: 30px;
  padding-bottom: 30px;
}

.citiesRow1 {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.citiesRow2 {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}
