.favoriteSite {
  margin: 0;
  margin-bottom: 4.9rem;
  padding: 1rem 2rem;
  text-align: center;
  

}

.content-city {
  color: rgb(255, 255, 255);
  backdrop-filter: blur(80px);
  font-size: 28px;
  text-shadow: rgb(24, 23, 23) 1px 0 10px;
}

.content-city p {
  margin-top: 100%;
  display:inline;
  padding: 0 4px 0 5px;
}

.favoriteCity {
  height: 150px;
  border-radius: 7px;
  display: block;
  width: auto;
   
  
}


p{
  text-align: center;
 

}
.content-city{
  padding: none;
}
.p-3
{
   display:flex !important;
  margin: 2rem auto !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgb(75, 75, 75) !important;
  border-radius: 20px !important;

  
  
}
.FavoriteText{
  color: white !important;
}

